/* General */

body{
    max-width:100%;
    margin:0 auto;
    width:1200px;  
    background-color: #ffe4b2;
}

.container{
    max-width: 80%;
    position:relative;
    
     
}
.clear{
    clear:both;
}
.center{
    margin:0 auto;
}
.float-left{
    float: left;
}
.primary-color{
    color:orange;
}
.uppercase{
    text-transform: uppercase ;
}
a:link{
    text-decoration: none;
}
.inline{
    display:inline-block 
}
hr{
    height: 3px;
    background-color: orange;
    
}
/* navigation*/

.navigation p{
    border: 3px solid black ;
    padding: 5px;
    font-size: 1.5em;
    color:orange;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    float: right;
    margin-top: 20px;
    font-size: 1.5em;
    word-spacing: 20px;
}

.navigation li {
    display: inline;
    border-bottom: thick solid orange;   
    color:black;  
}

/*headshot*/
.headshot{
   position:relative;
   margin-bottom: 12em;
   margin-left: 10em;
   
 
}
.profile{
    height:25em;
    width:25em;
    margin-top: 10em;
    margin-left: -1em;
    border: 8px solid #996300;
    
}
.headshot ul{
    list-style-type: none;
    position: absolute;
    bottom:-11em;
    left: 17em;
}
.headshot h1{
    font-size: 4em;
    text-shadow: 10px 3px 10px #996300

}
.headshot h3{
    text-transform: uppercase;
    font-size: 1.5em;
}
/* about*/

.about{
    background-color:#ffc966;
    padding:3em;
    margin:0 auto;
    border: 2px solid #996300;

}
.about ul{
    display:inline-block;
    margin-top:1em;
    margin-right: 2.5em;
    list-style-type: none;
    text-align: right;
    
    
}
.hello{
    font-size: 4em;
}

.about li{
    color:#996300
}
.box{
    background-color: cornsilk;
    max-width: 55%;
    display:inline-block;
    padding:1em;
    border: 2px solid #996300;
    margin-left: 1em;
}

/*experience*/

.experience{
    margin: 0 auto;
}
.experience table{ 
    border-spacing: 2em;
    margin: 0 auto;
}
.experience h3{
    background-color:#ffc966;
    border:2px solid #996300
}


/*work*/
.work{
    margin-left: 21%;
}
.work img{
    size:30%;
    text-align: center;
    
}

/*contact*/
.contact{
    margin:0 auto;
    
}
.contact h2{
    font-size:500%
}
.contact li{
    font-size: 150%;
    color:#996300;
    text-align: right;
    list-style-type: none;
    margin-left: 10em;

}
form{
    margin-left:14%;
}
input[type=Submit] {

    background-color: Orange;
    color: cornsilk;
    cursor: pointer;
    border-radius: 3px;
    height: 35px;
    width: 100px;
} 
input[type=text] {
    width:80%;
    padding: 10px;
    margin-bottom: 10px;
    
}
input[type=text]:focus{
    border: 5px solid orange;
}

textarea[type=message] {
    width:80%;
    padding: 10px;
    margin-bottom: 10px;
    height: 150px;
    font-size: 12px;
    background-color: cornsilk;
    color: black;
}
input[type=message]:focus{
    border: 5px solid orange;
}

input[type="text"]{
    background-color: cornsilk;
}

/*outro*/
.outro{
   margin-left:7em;
    text-align: center;
    padding-top:1em;
    
}
.media{
    height:2em;
    widows: 2em;
    vertical-align: middle
}
.outro span{
    text-align: center;
    vertical-align:middle;

}